<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Pórtifolio</title>
</head>

<body>
  <header>
    <div class="links">
      <a href="index.html">Sobre</a>
      <a href="classes.html">Jobs</a>
      <a href="conteudos.html">Conteúdos</a>
    </div>
  </header>
  <div id="container">
    <h1><strong> Cursos 100% online e gratuitos</strong> para você entrar com o pé<br> direito nas tecnologias mais desejadas do mercado.</h1>
    <p>Descubra o caminho para dominar a <strong>OmniStack.</strong></p>
  </div>
  
  <section class="cards-content">
    <!--Stater-->
    <div class="card-card" id="starter">
      <div class="img-card">
        <img style="padding-left: 13%; padding-top: 15%;" src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/starter.svg" alt="Starter">
      </div>
      <div class="content-card">
        <p>
          <strong>Torne-se um programador desejado</strong> no mercado com esses cursos gratuitos
        </p>
      </div>
      <div class="info-card">
        <p>7 Modúlos</p>
        <p class="card-price">Free</p>
      </div>
    </div>
    <!--Lauchbase-->
    <div class="card-card" id="launchbase">
      <div class="img-card">
        <img style="padding-left: 13%;" src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/launchbase.svg" alt="Starter">
      </div>
      <div class="content-card">
        <p>
          <strong>Domine programação do zero</strong> e tenha acesso às melhores oportunidades do mercado
        </p>
      </div>
      <div class="info-card">
        <p>7 Modúlos</p>
        <p class="card-price">Pago</p>
      </div>
    </div>
    <!--Go Stack-->
    <div class="card-card" id="gostack">
      <div class="img-card">
        <img style="padding-left: 13%;padding-top: 15%;" src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/gostack.svg" alt="Starter">
      </div>
      <div class="content-card">
        <p>
          <strong>Treinamento imersivo</strong> nas tecnologias mais modernas de desenvolvimento web e mobile
        </p>
      </div>
      <div class="info-card">
        <p>7 Modúlos</p>
        <p class="card-price">Pago</p>
      </div>
    </div>
  </section>

  <div class="modal-overlay-cursos">
    <div class="modal-curso">
      <a class="close-modal-curso">
        <i class="material-icons">close</i>
      </a>
      <a class="maximize-modal">
        <i class="material-icons">maximize</i>
      </a>
      <div class="modal-content-curso">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
<script src="./js/conteudo.js"></script>
</body>

</html>